*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(20, 4, 4);
    font-family: sans-serif;
}
.logo{
    width: 120px;
}
.nav{
    display: flex;
    align-items: center;
}


.navbar{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(41, 5, 5);
    flex-wrap: wrap;
    position: fixed;
    top: 0px;
    
}
.heading{
    color: whitesmoke;
}
.but2{
    padding:8px;
    margin-left: 7px;
    border-radius: 5px;
    color: whitesmoke;
    border:1px solid whitesmoke;
    background-color: rgb(8, 1, 1);


}
.but3{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 7px;
    border-radius: 5px;
    background-color:rgb(138, 11, 11);
    color: whitesmoke;
    border: none;
    
}
.but1{
    padding:10px;
    margin-left: 7px;
    border-radius: 5px;
    background-color:rgb(138, 11, 11);
    color: whitesmoke;
    border: none;
    
}
.movierows{
    margin-top: 90px;
}
.movieposter{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    margin-right: 10px;
    transition: 450ms;
}
.movieposters{
    width: 100%;
    object-fit: contain;
    max-height: 130px;
    margin-right: 10px;
    transition: 450ms;
}
.movieposterrows{
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding:20px ;
    

}
.movieposter:hover{
    transform: scale(1.09);
}
.movieposterrows::-webkit-scrollbar{
    display: none;
}
.movieposters:hover{
    transform: scale(1.08);
}
h4{
    color: whitesmoke;
    margin-left: 15px;
}
.but1:hover{
    background-color: rgb(171, 34, 34);
}
.but3:hover{
    background-color: rgb(171, 34, 34);
}
.but2:hover{
    background-color: rgb(20, 4, 4);
}
.container2{
    width: 100%;
    height: 300px;
    text-align: center;
    color: whitesmoke;

}
.container2 h2{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:15px;
    margin-right: 15px;
}
.container2 p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
    margin-left:10px;
    margin-right: 10px;
}
.footer{
    margin-top: 20px;
    margin-bottom: 80px;
}
.col{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.col div{
    color: whitesmoke;
    line-height: 35px;
    
}
.col div:hover{
    color: wheat;
    cursor: pointer;
}
.footer-heading{
    color: whitesmoke;
    margin-left: 12%;
    margin-bottom: 15px;

}

@media (max-width: 450px) {

    .heading{
        display: none;
    }
    .col div{
        flex-basis: 60%;
        
    }
    
}
@media (max-width: 378px) {

.movierows{
    margin-top: 110px;
}


.footer{
    margin-top: 100px;
}

}